<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/search.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>


<body>
  <form action="{{url_for('recommend')}}" method="post">

    <div class="mainclass">

      <div class="rec">

        <section>
          <h1>
            <span>A</span>
            <span>n</span>
            <span>i</span>
            <span>m</span>
            <span>e</span>
            <span>-</span>
            <span>R</span>
            <span>e</span>
            <span>c</span>
            <span>o</span>
            <span>m</span>
            <span>e</span>
            <span>n</span>
            <span>d</span>
            <span>a</span>
            <span>t</span>
            <span>i</span>
            <span>o</span>
            <span>n</span>

          </h1>
        </section>

      </div>
    </div>

    <div class="lower">


      <div class="wrapper">
        <div class="search-input">
          <a href="" target="_blank" hidden></a>
          <input style="color:black; border-radius: 20px" type="text" placeholder="Enter Anime Name:" name = "Anime Name">
          <div class="autocom-box">

            <!-- here list are inserted from javascript -->
          </div>
          <!--<div class="icon"><i class="fa fa-search"></i></div>-->
          <br> <br>
  

        </div>

      </div>

    </div>
          <br>
          <br>
          <div class = "button">
         <button type="submit">Get Recommendations!</button>
       </div>
 
    {% block content %}
    {% endblock %}
  </form>
     <br>
    <br>
    <br>
    <br>

      {% if error %}

    <p style = "color: red;text-align: center;text-decoration: solid;font-size: 22px"> {{error}} </p>
    {% endif %}
</body>

</html>